@model DentAssist.Models.Tratamiento

@{
    ViewData["Title"] = "Registrar Nuevo Tratamiento";
}

<h1>Registrar Nuevo Tratamiento</h1>

<h4>Tratamiento</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioEstimado" class="control-label"></label>
                <input asp-for="PrecioEstimado" class="form-control" type="number" step="0.01" min="0" /> @* Tipo numérico y paso para decimales *@
                <span asp-validation-for="PrecioEstimado" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ml-2">Volver al Catálogo</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}